* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #219ebc;
}

.calculator {
  background-color: #333;
  padding: 15px;
}

.screen {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  height: 80px;
  color: #fff;
  margin: 10px 10px;
  justify-content: center;
  align-items: end;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.operand {
  background: #fb8500;
}

.row {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.row button {
  width: 80px;
  height: 80px;
  font-size: 25px;
  font-weight: bold;
  outline: none;
  border: none;
}

.row button:not(.span-two) {
  border-radius: 50%;
}

.row button:hover {
  cursor: pointer;
  background-color: #fff;
}

.span-two {
  flex-grow: 2;
  border-radius: 25%/50%;
}
