* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #e9ecef;
}

h1 {
  font-size: 3.5rem;
}

.calculator {
  background-color: #1c1c1c;
  padding: 2.5rem;
}

.screen {
  display: flex;
  flex-direction: column;
  height: 10rem;
  color: #fff;
  justify-content: space-around;
  align-items: end;
  margin-bottom: 2rem;
  word-wrap: break-word;
  word-break: break-all;
}

.screen-row.previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 2rem;
}
.screen-row.current-operand {
  color: #fff;
  font-size: 3rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}

.row button {
  width: 70px;
  height: 70px;
  font-size: 30px;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: #505050;
  color: #fff;
}

.row button:not(.span-two) {
  border-radius: 50%;
}

.row.top-row button {
  background: #d4d4d2;
  color: black;
}
.row button.operand {
  background: #ff9500;
  color: #fff;
}

.row button:hover {
  cursor: pointer;
  background-color: #fff;
  color: black;
}

.span-two {
  flex-grow: 2;
  border-radius: 25%/50%;
}
